<aside class="min-h-screen w-3xs bg-slate-100 absolute p-4">
    <section class="mb-10">
        <h2 class="font-medium text-lg mb-1">Mes informations</h2>
        <ul>
            <li class="text-sm">{{ user.username }}</li>
            <li class="text-sm">{{ user.email }}</li>
        </ul>
    </section>

    <section>
        <h2 class="font-medium text-lg mb-2">Ma liste de lecture</h2>
        @if (playlist.length) {
        <ul>
            @for (video of playlist; track $index) {
            <li class="w-30 mb-1 relative">
                <a [routerLink]="['/video', video.id.videoId]">
                    <img [src]="video.snippet.thumbnails.default.url">
                    <p class="text-sm">{{ video.snippet.title }}</p>
                </a>
                <button
                    class="bg-slate-50 hover:bg-slate-200 rounded-full w-4 h-4 flex justify-center items-center absolute top-2 right-2 pb-1 cursor-pointer"
                    (click)="onDelete(video.id.videoId)">
                    x
                </button>
            </li>
            }
        </ul>
        } @else {
        Aucune vidéo dans la liste
        }
    </section>
</aside>