/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

app-root {
    display: flex;
    flex-wrap: wrap;
}

router-outlet~* {
    padding: 2rem 4rem 2rem 20rem;
}

input {
    display: block;
    border: 1px black solid;
    padding: 0.125rem 0.25rem;
    border-radius: 6px;
}

.button {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 0.325rem 1rem;
    border-radius: 16px;
    font-weight: 500;
}