/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

app-root {
    display: flex;
    flex-wrap: wrap;
}

router-outlet ~ * {
    padding-left: 16rem;
}

button {
    cursor: pointer;
}